body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background: linear-gradient(to bottom, rgb(46, 11, 46), rgb(60, 3, 231));
}
#div{
    text-align: center;
    background-color: white;
    margin: auto;
    position: absolute;
    width: 30%;
    top: 5%;
    right: 35%;
    height: 90%;
    border: 2px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 20px;
}
#div1{
    border: 2px grey solid;
    position: relative;
    border-radius: 4%;
    width: 80%;
    left: 9%;
    height: 80%;
    background-color: rgba(251, 251, 251, 0.645);
}
#captcha{
    text-align: center;
    font-size: larger;
    position: relative;
    width: 85%;
    height: 30%;
    padding: 0px;
    margin: 10px;
    color: black;
    background-color: rgb(234, 232, 232);
}
.btn{
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    height: 20%;
    color: white;
    transition-duration: 0.5s;
    transition-property: scale;
    transition-delay: 0s;
}
#btn1{
    background-color: rgb(4, 105, 237);
}
#btn2{
    background-color: red;
}
#btn3{
    background-color: darkorchid;
}
.btn:hover{
    scale: 1.1;
}
#div2{
    border: 2px grey solid;
    position: relative;
    border-radius: 4%;
    width: 80%;
    left: 9%;
    height: 80%;
    background-color: rgba(251, 251, 251, 0.645);
}
#verif{
    position: relative;
    height: 20%;
}
#div3{
    border: 2px grey solid;
    position: relative;
    border-radius: 4%;
    width: 80%;
    left: 9%;
    height: 80%;
    background-color: rgba(251, 251, 251, 0.645);
    display: flex;
    flex-direction: column;
    
}
#div3 select{
    position: relative;
    width: 80%;
    left: 10%;
    margin: 10px;
}
#div3 h3{
    margin: 5px;
}